.button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #333;
    padding: 10px 25px;
    margin-right: 10px;
    transition: 0.2s all;
}

.active {
    background-color: #0088d7;
}

.button:hover {
    background-color: black;
    opacity: 0.8;
}