.container {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

img {
  height: 200px;
  width: 90%;
  object-fit: contain;
  padding: 10px;
}

.cards {
  display: grid; /* Включаем Grid Layout */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Авто-колонки от 250px */
  gap: 20px; /* Расстояние между карточками */
  padding: 20px;
}


.card {
  display: flex;
  flex-direction: column;
  /* Высота подстраивается под контент, но можно задать минимум */
  min-height: 400px; 
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.text {
  white-space: nowrap;           /* Запретить перенос строк */
  overflow: hidden;              /* Обрезать текст, выходящий за границы */
  text-overflow: ellipsis;       /* Добавить многоточие */
}